Q1.)

Comments Are Non Executable Statement.
There Are Two Types Of Comment in python 
1. Single Line Comment
2. Multi Line  Comment

Single line comment Start with A Hash Symbol(#)

#PW SKILL
#SHUDHANSHU

Multi line comment Start with Double Triple quptes(""") Or TRiple Single quotes(''')

EX: 
""" PW SKILL
DATA SCIENCE
SUDHANSHU SIR"""

In [ ]:
# WHAT ARE VARIABLE IN PYTHON
        

VARIABLE IS  THE STORE THE VALUE OF PROGRAMMER THIS IS USE TO OUR PROGRAM.
PYTHON HAS NO COMMAND TO DECLARE A VARIABLE

X=233;
Y='PW SKILL'

In [15]:
'''Q3. HOW DO YOU CONVERT ONE DATA TYPE TO ANOTHER DATA TYPE'''

#THIS METHOD KNOWN AS TYPE CASTING 
M=int(input('enter the number'))
a=7.14
b=789
a=int(a)
b=float(b)

enter the number 3

####HOW DO YOU WRITE AND EXECUTE A PYTHON SCRIPT FROM THE COMMAND LINE

In [19]:
#TIHS COMMAND LINE ARGUMENTS IS ANOTHER WAY TO READ THE USER PROVIDE DATA
from sys import argv
print("the number of command line argument",len(argv))
print("the list of command line argument",argv)
for i in argv:
    print(i)

the number of command line argument 3
the list of command line argument ['/opt/conda/lib/python3.10/site-packages/ipykernel_launcher.py', '-f', '/home/jovyan/.local/share/jupyter/runtime/kernel-58a32831-ffd0-4033-b93e-7bab7fa2469f.json']
/opt/conda/lib/python3.10/site-packages/ipykernel_launcher.py
-f
/home/jovyan/.local/share/jupyter/runtime/kernel-58a32831-ffd0-4033-b93e-7bab7fa2469f.json

In [20]:
print(type(argv))

<class 'list'>

GIVEN A LIST MY_LIST=[1,2,3,4,5] WRITE THE CODE TO SLICE THE LIST AND OBTAIN THE SUB-LIST[2,3].

In [24]:
my_list=[1,2,3,4,5]
my_list1=slice(1,3)
print(my_list[my_list1])

[2, 3]

WHAT IS COMPLEX  NUMBER IN MATHEMATICS AND HOW IS IT REPERSENTED IN PYHTHON

In [ ]:
COMPLEX NUMBER S ARE THE NUMBER THAT ARE EXPRESSED IN THE FORM OF A+Bi WHERE A IS REAL NUMBER AND Bi  IS 
IMAGINARY NUMBER CALLED 'iota' 
EXAMPLE 2+3i

WHERE 
2 IS A REAL NUMBER AND 
3i IS A IMAGINARY NUMBER
COMBINATOIN OF BOTH REAL NUMBER AND IMAGINARY NUMBER ARE CALLED COMPLEX NUMBER

In [25]:
#IN PYTHON REAL PART AND IMAGINARY PART BOTH ARE ZERO THE FALSE OTHERWISE ANY ONE IS NON ZERO VALUE THEN GET TRUE

a=complex(4,7)
print(a)

(4+7j)

In [26]:
bool(10+20j)

True

In [27]:
bool(0+0j)

False

In [28]:
bool(0+4j)

True

WHAT IS THE CORRECT WAY TO DECLARE A VARIABLE NAMED AGE AND ASSIGN THE VALUE 25 TO IT

In [29]:
age=25
print()

25

DECLEAR THE  VARIABLE NAMED  PRICE AND ASSIGN THE VALUE OF 9.99 TO IT.WHAT DATA TYPE DOES THIS VARIABLE BELONG TO

In [1]:
price=9.99
type(price)

float

CREATE A VARIABLE NAMED NAME  AND ASSIGN YOUR FULL NAME TO IT AS STRING.HOW WOULD YOU PRINT THE VALUE OF THIS VARIABLE

In [2]:
name="Abhishek"
print (name)

Abhishek

Given the string "Hello, World!", extract the substring "World

In [6]:
a="hello world"
print(a[6:11])

world

CREATE A VARIABLE NAMED  "IS_STUDENT" AND ASSIGN IT A BOOLEAN VALUE INDICATING WHETHER YOU ARE CURRENTLY A STUDENT OR NOT

In [ ]:
is_student=True
In this exam